
body{
	margin: 0 auto;
	background-color: grey;
}


nav {
	background-color: black;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid darkgrey;
	top: 0px;
	z-index: 1;	
}


nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: 0 auto;
	padding: 0;
	height: 50px;
}

@media screen and (max-width: 500px){
	nav li {
		color: white;
		font-size: 14px;
	}
}


@media screen and (min-width: 501px) {
	nav li{
		color: white;
		font-size: 20px;
	}
}


nav li a {
	text-decoration: none;
	color: inherit;
	
}

nav li:hover {
	color: grey;
	cursor: pointer;
}


main {
	text-align: center;
	height: 100%;
	align-content: center;
	margin-top: 70px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; /* Optional: cleaner borders */
  width: 60%; /* Avoid 100% width if you want centering to work */
}

td {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

th {
	padding-top: 15px;
}